@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,700italic,800,800italic,700,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
    display: block;
    overflow-x: hidden;

    font-family: 'Righteous', sans-serif;
    
    position: relative;

    background: rgba(51,50,46,1) 38%;
}

section {
  display: flex;
  align-items: center;

  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

section h2 {
  color: white;
  font-family: 'Righteous', serif;
  font-size: 3.5em;
  text-shadow: .03em .03em 0 #67568c;
  padding-bottom: 10px;
}

section #header {
    text-align: start;
}

#header header h1 {
    color: white;
    font-family: 'Righteous', serif;
    font-size: 10em;
    text-shadow: .03em .03em 0 #67568c;

    text-align: start;
    
    padding: 50px;
}

div #bill-gates img {
  margin-bottom: 100px;

  width: 1600px;
  height: 400px;

  object-fit: cover;
}

#inleiding {

  padding-right: 100px;

  justify-content: end;
}

#inleiding img {
  width: 300px;
  height: 350px;
}

div #inleiding-text {
  position: absolute;

  justify-content: center;
  text-align: start;

  color: white;

  width: 900px;
  height: 100vh;

  padding: 50px;

  margin-right: 500px;
  margin-top: 250px;
}

div #middenstuk-text {
  position: absolute;

  justify-content: center;
  text-align: start;

  color: white;

  width: 900px;
  height: 100vh;

  padding: 50px;

  margin-right: 500px;
  margin-top: 10px;
}

#middenstuk {

  padding-right: 100px;

  justify-content: end;
}

#middenstuk img {
  width: 430px;
  height: 450px;

  object-fit: cover;
}

div nav {
  display: flex;
  align-items: flex-end;
  position: fixed;

  margin-top: 40px;
  margin-left: 1150px;
}

div nav a, header nav span {
  color: white;
  text-decoration: none;
  font-size: 14px;
  z-index: 1;
  width: 80px;
  padding: 8px 0px;
  text-align: center;
  font-weight: bold;
  transition: left .3s ease 0s;
}

div nav span {
  position: absolute;
  top: 0;
  left: 0;
  background: #67568c;
  height: 100%;
  z-index: 0;
  border-radius: 8px;
}

div nav a:nth-of-type(1):hover ~ span {
  left: 0px;
}

div nav a:nth-of-type(2):hover ~ span {
  left: 80px;
}

div nav a:nth-of-type(3):hover ~ span {
  left: 160px;
}

div nav a:nth-of-type(4):hover ~ span {
  left: 240px;
}

div nav a:nth-of-type(5):hover ~ span {
  left: 320px;
}

#footer #footer-text {
  position: absolute;

  justify-content: center;
  text-align: start;

  color: white;

  width: 900px;
  height: 100vh;

  padding: 50px;

  margin-right: 500px;
  margin-top: 100px;
}

#footer img {
  width: 500px;
  height: 350px;
}

#footer {
  padding-right: 100px;
  margin-bottom: 100px;
  justify-content: end;
}


