@import url('http://fonts.cdnfonts.com/css/playing-cards');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap%27i');

* {
    margin: 0;

    font-family: 'playing-cards', sans-serif;
    font-size:  22px;
}

body {
    background-color: greenyellow;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    padding: 10px 30px;

    box-shadow: 2px 2px 8px 3px #333;
}


.AandIcon {
    position: relative;

    left: -90px;
    top: -78px;
}

.AandIcon-10 {
    position: relative;

    left: -85px;
    top: -78px;
}


#A-Reverse {
    transform: scale(-1, );
    transform: scale(1, -1);

    padding: 2px;
}

#A-ReverseImg {
    transform: scale(-1, 1);
    transform: scale(1, -1);
}

.AandIcon-Reverse {
    position: relative;

    bottom: -75px;
    left: 8px;
}

.groteKaart {
    width: 16px;
    height: 16px;
}

.p {
    position: absolute;
    left: 5px;
    top: -60px;
}

/* Klaveren A, */
.klaveren-A {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

.klaveren {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

#img-1 {
    margin-left: 28px;
}

.klaveren-A #img-1 {
    width: 60px;
    height: 64px;
}

.klaveren #img-1 {
    width: 60px;
    height: 64px;
}

/* Harten A, */

.harten-A {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    color: red;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

.harten {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    color: red;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

#img-2 {
    margin-left: 28px;
}

.harten-A #img-2 {
    width: 60px;
    height: 64px;
}

.harten #img-2 {
    width: 60px;
    height: 64px;
}

/* Schoppen A, */

.schoppen-A {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

.schoppen {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

#img-3 {
    margin-left: 28px;
}

.schoppen-A #img-3 {
    width: 60px;
    height: 64px;
}

.schoppen #img-3 {
    width: 60px;
    height: 64px;
}

/* Ruiten A, */

.ruiten-A {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    color: red;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

.ruiten {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 147px;
    height: 206px;

    border-radius: 5%;

    background-color: white;
    transition: all .5s;

    color: red;

    box-shadow: 2px 2px 5px 3px #555;
    margin-left: -50px;
}

#img-4 {
    margin-left: 28px;
}

.ruiten-A #img-4 {
    width: 60px;
    height: 64px;
}

.ruiten #img-4 {
    width: 60px;
    height: 64px;
}